


<!-- Router Outlet -->
<router-outlet></router-outlet>

<!-- ======= Footer ======= -->
<footer id="footer">

  <div class="footer-top">
    <div class="container">
      <div class="row">

        <div class="col-lg-3 col-md-6 footer-contact">
          <h3>Medtelplus</h3>
          <p>
            3029 TRAVELERS PALM DR.,
            EDGEWATER,
            32141 <br><br>
            <strong>Phone:</strong> +1 740 405 1633 / 740 405 1586<br>
            <strong>Email:</strong> info@medtelplus.com<br>
          </p>
        </div>

        <div class="col-lg-2 col-md-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="#top">Home</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#about">About us</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#services">Services</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Our Services</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="#">PPE Supply Solutions</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Telemedicine</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Research and Development</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Accesibility</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Medical Equipment</a></li>
          </ul>
        </div>

        <div class="col-lg-4 col-md-6 footer-newsletter">
          <h4>Join Our Newsletter</h4>
          <p>Please subscribe to our newsletter for monthly news and deals.</p>
          <form #subscriberForm="ngForm" name="subscriberForm">
            <input [(ngModel)]="subscriber.email" #subEmail="ngModel" type="email" name="email" required><button [disabled]="subscriberForm.invalid" type="button" (click)="addSubscriber(subscriberForm, {email: subEmail.value})">Subscribe</button>
          </form>
        </div>

      </div>
    </div>
  </div>

  <div class="container d-md-flex py-4">

    <div class="mr-md-auto text-center text-md-left">
      <div class="copyright">
        &copy; Copyright <strong><span>Medtelplus LLC</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        Designed by <a href="https://suremarketingsolutions.com">Sure Marketing Solutions LLC</a>
      </div>
    </div>
    <div class="social-links text-center text-md-right pt-3 pt-md-0">
      <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
      <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
      <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
      <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
      <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
    </div>
  </div>
</footer><!-- End Footer -->

<div id="preloader" [hidden]="!loading"></div>
<button class="btn btn-link circle back-to-top" data-aos="fade-up" data-aos-offest="800" data-aos-once="false" (click)="goToTop()"><i class="icofont-simple-up"></i></button>



