<!-- ======= Header ======= -->
<header #header id="header" class="animated" data-aos="header-scrolled" data-aos-offset="1200" data-aos-once="false">
  <div class="container d-flex align-items-center">
    <h1 class="logo"><a href="#top"><img src="assets/img/logo_full_new_short.png" width="160"
          alt=""></a></h1>

    <nav class="nav-menu d-none d-lg-block ml-lg-auto mr-lg-3">
      <ul #navMenu>
        <li class="nav-menu-item"><a routerLink="../home">Go Home</a></li>
      </ul>

    </nav><!-- .nav-menu -->

    <!-- Mobile nav toggle button -->
    <!-- <button type="button" [ngClass]="!showMobileNav ? 'is-active':''"
      class="hamburger hamburger--collapse d-lg-none mobile-nav-toggle" (click)="toggleMobileNav()">
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </button> -->
  </div>

</header><!-- End Header -->
<div class="jumbotron text-center">
  <h1 class="display-3">Featured Items</h1>
  <p class="lead">Some of our most popular deals right now.</p>
  <hr class="my-2">
  <p>More info</p>
  <p class="lead">
    <a class="btn btn-primary consultation-btn" href="home#consultation" role="button">Get a free quote</a>
  </p>
</div>
<router-outlet></router-outlet>

